.border {
    border: 2px solid red;
    margin: 3px;
}

.flex {
    display: flex;
}

.justify-content {
    justify-content: center;
}

.item-center {
    align-items: center;
}

.bg-black {
    background-color: black;
    color: white;

}

.invert {
    filter: invert(1);
}

.bg-grey {
    background-color: #121212;
}

.rounded {
    border-radius: 7px;
}

.m-1 {
    margin: 5px;
}

.p-1 {
    padding: 10px;
}

/* Custom scrollbar for webkit browsers */
::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
    height: 12px; /* Height of the scrollbar (for horizontal scrollbars) */
}

::-webkit-scrollbar-track {
    background: #2E2E2E; /* Background color of the scrollbar track */
    border-radius: 10px; /* Rounded corners of the scrollbar track */
}

::-webkit-scrollbar-thumb {
    background: #555555; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded corners of the scrollbar thumb */
    border: 3px solid #2E2E2E; /* Space around the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
    background: #888888; /* Color of the scrollbar thumb on hover */
}

::-webkit-scrollbar-corner {
    background: #2E2E2E; /* Background color of the corner where two scrollbars meet */
}
